doctype 5
html
	head
		title assChattr

		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1, user-scalable=no')

		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css')

		style .
			body {
				letter-spacing: -0.01em;
			}

			form {
				margin: 0;
			}

			.chatEntry {
				height: 0px;
				max-height: 1000em;
				opacity: 0;
				display: block;
				padding: 1ex;
				border-bottom: 1px solid #ddd;
				transition: all 200ms ease;
				-moz-transition: all 200ms ease;
				-webkit-transition: all 200ms ease;
				background-color: white;
				overflow: hidden;
				line-height: 0.9em;
			}

			.chatEntry time {
				font-style: italic;
				color: silver;
			}

			footer {
				border-top: 1px solid rgb(229, 229, 229);
				background-color: rgb(245, 245, 245);
				padding: 1ex;
				margin-top: 1em;
				text-align: center;
			}

	body
		div(class='navbar navbar-fixed-top')
			div(class='navbar-inner')
				div(class='container')
					a(class='brand',href='http://asschattr.animevivo.com') assChattr
					form(class='navbar-form',onsubmit="sendstuff(); return false")
						input(type='text',name='entry',autocomplete='off')
						button(type='submit',class='btn') chat

		article(id='output',class='container')

		footer(class='footer')
			div(class='container')
				p .
					<strong>assChattr</strong> lets you be an asshole on the Internet, without having to be an asshole in real life. Connect with other assholes and together, find meaning in the world.
				img(src='/images/puppy-and-kitten.png',height='250',width='350',alt='puppy & kitten')
				p .
					Designed & built with ♥ in New Mexico, the <a href="http://www.kob.com/article/stories/s3077298.shtml">worst place to be a child</a>.
				p .
					Created by
					<a href="https://twitter.com/SamatJain">@SamatJain</a>
					(<a href="https://identi.ca/samatjain">also on Pump.io</a>),
					Kenny Jacobs, and Antonio Arredondo. Thanks to an extremely supportive Felicia Frizzell.
				p .
					Source code coming soon…

		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')
		script .
			var socket = io.connect();
			socket.on('incoming', function(data) {
				console.log('incoming: ' + data.msg);
				var $new_entry = $('<div class="chatEntry" style="visibility: hidden; height: 0px">' + data.msg + ' <time datetime=' + data.date + '>a few seconds ago</time></div>');

				$('.chatEntry time').each(function() {
					var $e = $(this);
					var time_text = $e.attr('datetime');
					time_text = moment(time_text).fromNow();
					$e.text(time_text);
				});

				$('#output').prepend($new_entry);

				// Hack for being unable to transition to height: auto
				var $clone = $new_entry.clone();
				$clone.css({'position': 'relative',
										'visibility': 'hidden',
										'height': 'auto'})
							.addClass('slideClone').appendTo('#output');
				var height = $clone.height();
				$clone.remove();

				console.log(height);

				// Make entry visible…
				$new_entry.css({'visibility': 'visible',
												'height': height + 'px',
												'opacity': 1});
				// Fix text scaling
			});

			function sendstuff() {
				var msg = $('input[name=entry]').val()
				if (!msg) return;
				var now = moment().toJSON();
				console.log('sending msg to server: ' + msg);
				window.socket.emit('msg', {'date': now, msg: msg});
				$('input[name=entry]').val('');
			}
