doctype html
html
	head
		title
			| asschattr
			= ': #' + hashtag

		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1, user-scalable=no')

		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap-responsive.min.css')

		style.
			body {
				letter-spacing: -0.01em;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
				font-size: 18.33px;
			}

			form {
				margin: 0;
			}

			article {
				display: block;
				padding: 0.5ex;
				padding-top: 0.8ex; padding-bottom: 0.8ex;
				border-bottom: 1px solid #f5f5f5;
				background-color: white;
				overflow: hidden;
				line-height: 0.9em;
			}

			article.delete {
				-webkit-animation: growHeight 150ms ease-in-out reverse;
				animation: growHeight 150ms ease-in-out reverse;
			}

			article.new-entry {
				max-height: 0;
				opacity: 0;
				animation: growHeight 200ms ease-in-out forwards;
				-webkit-animation: growHeight 200ms ease-in-out forwards;
			}
			@keyframes growHeight {
				from {
					max-height: 0;
					opacity: 0;
					transform: scale(0);
				}
				to {
					max-height: 4em;
					max-height: -moz-max-content;
					opacity: 1;
					transform: scale(1);
				}
			}
			@-webkit-keyframes growHeight {
				from {
					max-height: 0;
					opacity: 0;
					-webkit-transform: scale(0);
				}
				to {
					max-height: 4em;
					opacity: 1;
					-webkit-transform: scale(1);
				}
			}

			article:last-child {
				border-bottom: none;
			}

			time {
				font-style: italic;
				color: silver;
				text-shadow: none;
			}

			.author {
				font-weight: 600;
			}

			footer {
				border-top: 1px solid rgb(229, 229, 229);
				background-color: rgb(245, 245, 245);
				padding: 1ex;
				margin-top: 1em;
				text-align: center;
			}

			.navbar {
				margin-bottom: 0;
			}

			#chat-log.container-fluid {
				padding: 0;
				padding-left: 0.5ex; padding-right: 0.5ex;
			}

			#chat-entry {
				position: fixed;
				bottom: 0;
				left: 0; right: 0;
				background-color: #eee;
				border-top: 1px solid #ccc;
				padding: 0.2ex;
			}

	body
		div(class='navbar navbar-default')
			div(class='container-fluid')
				ul(class='nav navbar-nav')
					li(class='dropdown')
						a(id='menu',class='navbar dropdown-toggle',data-toggle='dropdown',data-target='#',href='/') asschattr <b class='caret'></b>
						ul(class='dropdown-menu')
							li
								a(href='/') home
								a(href='/fuq') frequently unasked questions (fuq)
							li(class='divider')
							li
								a(href='#',id='clear-entries') clear chat log


		main(id='chat-log',class='container-fluid')

		div(id='chat-entry')
			form(id='chat')
				div(class='input-group')
					input(class='form-control',type='text',name='entry',placeholder='type your chat message here, & press enter to send',autocomplete='off',autofocus='autofocus')
					span(class='input-group-btn')
						button(class='btn btn-default',type='submit') ♥

		footer(class='footer')
			div(class='container-fluid')
				p.
					<b>asschattr</b> is a virtual
					<a href="https://en.wikipedia.org/wiki/Peanut_gallery">peanut gallery</a>
					that lets you be a <b>troll</b> about <b>real-life</b>, in <b>real-time</b>.
				p.
					Pick a chat room (i.e. your favorite Twitter hashtag) where you can rant <a href="https://en.wikipedia.org/wiki/Pseudonymity"><b>pseudo-anonymously</b></a>. There are <b>no logs</b> (messages are only sent to those connected, and saved nowhere else) and <b>no logins</b> (only a random, funny name identifies you).
				img(src='/images/puppy-and-kitten.png',height='250',width='350',alt='puppy & kitten')
				p.
					Designed & built with ♥  in
					<img src="/images/Flag_of_New_Mexico.png" style="height: 0.9em; vertical-align: baseline;" alt="">
					New Mexico, the
					<a href="http://www.kob.com/article/stories/s3077298.shtml">worst place to be a child</a>,
					and where
					<a href="http://www.usnews.com/news/articles/2013/11/05/man-seeks-millions-after-nm-police-force-colonoscopy-in-drug-search">the government will (literally!) anally rape you</a>.
				p.
					Is asschattr blocked for you? Consider using our censored alternative, <a href="http://sasschattr.com/">sasscattr</a>.
				p.
					Follow us on
					<a href="https://www.twitter.com/asschattr">Twitter</a>
					or like us on
					<a href="https://www.facebook.com/asschattr">Facebook</a>.
					Donate a little bit to us on
					<a href="https://flattr.com/submit/auto?user_id=tamasrepus&url=https%3A%2F%2Fasschattr.com%2F">Flattr</a>.
				p.
					Source code coming soon…
				p.
					© <a href="http://blog.samat.org/">Samat K Jain</a>

		audio(id='alert-sound')
			source(src='sounds/alert.opus')
			source(src='sounds/alert.mp3')

		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')
		script.
			var hashtag = '!{hashtag}';
			var socket = io.connect();
			socket.on('incoming', function(data) {
				var $new_entry = $('<article><span class="author">' + data.actor.displayName + ' • </span> ' + data.object.content + ' <time datetime=' + data.published + '>a few seconds ago</time></article>');

				// Play alert sound (need smarter logic here…)
				$('#alert-sound').get(0).play();

				appendNewMessage($new_entry);
			});

			function appendNewMessage($new_entry) {
				// Cache selector locally
				if (typeof appendNewMessage.$chat_log == 'undefined')
					appendNewMessage.$chat_log = $('#chat-log');
				$chat_log = appendNewMessage.$chat_log;

				$new_entry.addClass('new-entry');

				// Add new entry (default CSS will make this hidden)
				$new_entry.prependTo($chat_log).on('animationend webkitAnimationEnd', function() {
					$new_entry.removeClass('new-entry');
				});
			}

			$('#chat').on('submit', function(ev) {
				ev.preventDefault();

				var msg = $('input[name=entry]').val()
				if (!msg) return;
				var now = moment().toJSON();
				console.log('sending msg to server: ' + msg);
				var datagram = {
					verb: 'post',
					published: now,
					actor: {
						id: window.screenname_urn,
						displayName: window.screenname
					},
					object: {
						id: 'urn:asschattr:comment:comment/' + guid(),
						objectType: 'comment',
						content: msg
					},
					to: {
						id: 'urn:asschattr:hashtag:' + hashtag,
						displayName: window.hashtag
					}
				};
				console.dir(datagram);
				window.socket.emit('msg', datagram);
				$('input[name=entry]').val('');
			});

			$(document).ready(function() {
				var $welcome_msg = $('<article>Welcome to <strong>asschattr</strong>. If people are around, you can listen in and wait for messages to appear—or just start typing and send one yourself!</article>');
				appendNewMessage($welcome_msg);

				var screenname;
				if (window.sessionStorage && sessionStorage.getItem('screenname')) {
					screenname = sessionStorage.getItem('screenname');
				} else {
					screenname = generateScreenName();
					sessionStorage.setItem('screenname', screenname);
				}
				window.screenname = screenname;
				window.screenname_urn = 'urn:asschattr:screenname:' + screenname.replace(' ', '-', 'gi');

				// This should only happen on connection to server. Perhaps when we get the join event back?
				appendNewMessage($('<article>You are now connected to chatroom <strong>#' + hashtag + '</strong> as <strong>' + screenname + '</strong>. Have a nice day!</article>'));

				// Tell server we've joined
				var now = moment().toJSON();
				var datagram = {
					verb: 'join',
					published: now,
					actor: {
						id: window.screenname_urn,
						displayName: window.screenname
					},
					object: {
						id: 'urn:asschattr:hashtag:' + hashtag,
						displayName: window.hashtag
					},
					to: {
						id: 'urn:asschattr:hashtag:' + hashtag,
						displayName: window.hashtag
					}
				}
				window.socket.emit('join', datagram);
			});

			// Make sure events already displayed (which are fixed-height since they
			// were animated) stay visible
			$(window).on('resize orientationchange', function() {
				$('article').css({'max-height': 'none'});
			});

			// Clear chat log
			$('#clear-entries').on('click', function(ev) {
				ev.preventDefault();

				// Animate deletion of chat entries, then remove them from the DOM
				$('article').addClass('delete')
				.on('animationend webkitAnimationEnd', function() {
					$('#chat-log').empty();
				});
			});

			// Update times
			// Hack for now… no need to be doing this many updates
			function updateTimes() {
				$('time').each(function() {
					var $e = $(this);
					var time_text = moment($e.attr('datetime')).fromNow();
					var current_time_text = $e.text();

					// Avoid updating DOM if unnecessary
					if (current_time_text != time_text)
						$e.text(time_text);
				});
			}
			setInterval(updateTimes, 60000);

			// This should probably be server side…
			function generateScreenName() {
				var name;
				var color = ["white", "black", "yellow", "red", "blue", "green", "purple", "orange", "silver", "scarlet", "rainbow", "indigo", "ivory", "navy", "pink", "gold", "golden"];
				var nick_adjective = ["alpha", "angry", "bad", "barbaric", "bare", "bitter", "sweet", "brave", "brutal", "crisp", "crunchy", "dancing", "dangerous", "dirty", "dreaded", "elastic", "endless", "dreaded", "eternal", "flaming", "flying", "forgotten", "forsaken", "freaky", "frozen", "furious", "grim", "gruesome", "gutsy", "cruel", "desire", "heavy", "helpless", "hidden", "homeless", "hungry", "insane", "intense", "itchy", "left-handed", "lefty", "liquid", "lone", "lost", "massive", "meaty", "mellow", "modern", "morbid", "moving", "nasty", "needless", "nervous", "old", "pointless", "pure", "rare", "raw", "reborn", "rusty", "richy", "risky", "rocking", "rocky", "rolling", "rough", "running", "runny", "rusty", "ruthless", "sad", "screaming", "serious", "screamy", "seriously", "silly", "skilled", "sleepy", "slidy", "small", "solid", "steamy", "stony", "stormy", "strange", "stray", "streaming", "strong", "supersonic", "tainted", "tidy", "tough", "sunny", "unique", "vicious", "vital", "wild", "wooden", "worthy", "young", "hearty", "bad", "beauty", "boiling", "brave", "chicken", "color", "cool", "crazy", "cute", "cute", "cute", "cutie", "smokey", "disco", "drunken", "drunken", "dusty", "eager", "fast", "fast", "fatty", "flower", "grotesque", "heavy", "hilarious", "honey", "hot", "hungry", "icy", "little", "lone", "lonesome", "fisty", "foxy", "loose", "lucky", "maximum", "minimum", "mysterious", "rapid", "rebel", "rotten", "shining", "skinny", "sleepy", "mini", "maxi", "misty", "slimy", "small", "solid", "stormy", "strong", "stupid", "sunny", "sweet", "sweety", "swift", "sugar", "doggy", "spacy", "stoned", "stony", "tasty", "thirsty", "tiny", "ugly", "warm", "willy", "beau", "honey", "beauty", "chaos", "circus", "cult", "pet"];
				var nick_animal = ["alligator", "angel", "antelope", "ape", "armadillo", "baboon", "baby", "baby", "baron", "basilisk", "bat", "bear", "bear", "beaver", "bella", "bird", "birdie", "bison", "boar", "boy", "buffalo", "bull", "bunny", "bunny", "butterfly", "camel", "canary", "cat", "cat", "chameleon", "cheetah", "chick", "child", "chimpanzee", "chinchilla", "chipmunk", "cobra", "cockroach", "colt", "cougar", "cow", "coyote", "crocodile", "crow", "cub", "darling", "deer", "dingo", "doe", "doe", "dog", "dog", "dog", "doggy", "doll", "donkey", "dormouse", "dromedary", "duck", "duckbill", "duckie", "duckling", "dugong", "eagle", "eaglet", "elephant", "elf", "fairy", "farrow", "filly", "finch", "fish", "flapper", "flipper", "foal", "fox", "fox", "frog", "froglet", "gazelle", "giraffe", "girl", "gnu", "goat", "gorilla", "grizzly", "guinea", "hamster", "hare", "hatchling", "hawk", "hippopotamus", "hog", "honey", "honey", "horse", "hyena", "ibis", "impala", "infant", "iris", "jackal", "jaguar", "joey", "kangaroo", "kid", "kid", "kiddie", "king", "kit", "kitten", "kitten", "koala", "lama", "lamb", "lamb", "larva", "lemur", "leopard", "lion", "lion", "lizard", "llama", "lovebird", "lynx", "man", "mandrill", "mare", "mink", "mole", "monkey", "moose", "moose", "moose", "mouse", "mouse", "mule", "musk-ox", "mustang", "nymph", "ocelot", "opossum", "orangutan", "otter", "ox", "panda", "panther", "panther", "parakeet", "parrot", "pet", "pig", "pig", "piglet", "pink", "pinkie", "polar-bear", "pony", "prince", "puglet", "puma", "pup", "puppy", "puppy", "python", "queen", "rabbit", "rabbit", "raccoon", "rat", "rat", "reindeer", "reptile", "rhino", "salamander", "seal", "serpent", "sheep", "skunk", "snake", "snake", "sparrow", "spider", "spider", "springbok", "squirrel", "stallion", "sugar", "swallow", "swan", "sweety", "tapir", "tiger", "tiger", "toad", "toddler", "tumbler", "turtle", "viper", "walrus", "waterbuck", "weasel", "whale", "whelp", "wildcat", "wolf", "wolverine", "wombat", "woodchuck", "wriggler", "yak", "zebra"];
				var nick_science = ["airmen", "beast", "believer", "bullet", "swush", "cadet", "dancer", "demon", "detective", "devil", "dolly", "dummy", "empire", "fever", "fiend", "fisherman", "freak", "gangster", "gazette", "genius", "gladiator", "goldfish", "goldbeast", "gravy", "hammer", "harmony", "invader", "jockey", "judge", "juggler", "king", "lady", "lord", "mutant", "phantom", "pilot", "pioneer", "pirate", "prisoner", "professor", "prophet", "ranger", "rebel", "romeo", "saint", "shadow", "sinner", "student", "titan", "trooper", "stud", "trustee", "villain", "volunteer", "warrior", "yodelers", "baroness", "beam", "breeze", "burst", "crystal", "emerald", "galaxy", "hammer", "hook", "hurricane", "iron", "knife", "laser", "moon", "moron", "rayz", "sapphire", "scissor", "space", "star", "steel", "storm", "sun"];

				var prefix = color.concat(nick_adjective);
				var n1 = parseInt(Math.random() * prefix.length);
				var n1ex = parseInt(Math.random() * prefix.length);
				if (n1ex == n1) {
					n1ex = n1 + 1;
				}
				var prename = prefix[n1];
				var prenameex = prefix[n1ex];

				var suffix = nick_animal.concat(nick_science);
				var n2 = parseInt(Math.random() * suffix.length);
				var sufname = suffix[n2];

				var n3 = parseInt(Math.random() * 100);
				if (n3 <= 30)
					name = [prename, sufname];
				else if (n3 > 30 && n3 <= 40)
					name = [prenameex, sufname];
				else if (n3 > 40 && n3 <= 65)
					name = [sufname, prenameex];
				else if (n3 > 65 && n3 <= 84)
					name = [prenameex, prename, sufname];
				else if (n3 > 84 && n3 <= 88)
					name = [sufname, sufname];
				else if (n3 > 88 && n3 <= 90)
					name = ["Los", sufname];
				else if (n3 > 90 && n3 <= 92)
					name = ["Der", sufname];
				else if (n3 > 92 && n3 <= 94)
					name = ["El", sufname];
				else
					name = ["The", sufname];

				return(name.join(' ')); 
			}

			// This should be server-side too… maybe?
			function guid() {
				return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
					var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
					return v.toString(16);
				});
			}
